# Скопируйте в .env и поправьте под себя.
# Нужен только worker.py (server.py с БД не работает вообще).
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Настройки самого сервера
MAX_WORKERS=3
PORT=8000
